*.out
*.save
./*.log
__pycache__/
data/*.traineddata
data/*.unicharset
data/*/checkpoints
data/*/reports
data/*/tessdata_best
data/*/tessdata_fast/*.traineddata
data/*/tmp
data/*IAST*
data/*ground*
data/*iast*
data/Latin
data/eng
data/logs/*IAST*.*
data/tessdata/*final.traineddata
fonts
fonts.conf
langdata
save
testdata
