*.isri
*.log
*.out
*.save
__pycache__/
data/*.traineddata
data/*.unicharset
data/*/checkpoints/*.checkpoint
data/*/reports
data/*/tessdata*
data/*/tmp
data/*ground*
data/Latin
data/eng
data/logs
fonts
fonts.conf
langdata
save
testdata
