*.isri
*.log
*.out
*.save
__pycache__/
data/*.traineddata
data/*.unicharset
data/*/checkpoints
data/*/reports
data/*/tessdata_best
data/*/tessdata_fast/*.traineddata
data/*/tmp
data/*ground*
data/Latin
data/eng
data/logs/*ayer*.*
data/logs/*IAST*.*
fonts
fonts.conf
langdata/iast
langdata/san
save
testdata
